# List, Set and String Operation

The topics discussed:

1. len()
2. min() dan max()
3. count()
4. Merging and replication on the list data type
5. Multiplier function to create a new list
6. range()
7. in and not in function
8. Assigning and exchanging values for a list/set data type variable
9. sort()

## len()

* Previously, we have seen that slicing used for sequence
* len() which will calculate the length or number of elements from the list (for strings to count the number of characters)

In [1]:
a = [3,5,6,7,7,7]

In [2]:
print(a)

[3, 5, 6, 7, 7, 7]

In [3]:
len(a)

6

In [4]:
b = {3,5,6,7,7,7}  # Remember that the data type set only returns unique values

In [5]:
print(b)

{3, 5, 6, 7}

In [6]:
len(b)

4

In [7]:
c = 'Data Science'

In [8]:
print(c)

Data Science

In [9]:
len(c)

12

## min() dan max()

The min() and max() functions are to find out what the minimum and maximum values of a list or set are

In [10]:
a = [3,5,6,7,7,7]

In [11]:
min(a)

3

In [12]:
min(b)

3

In [13]:
b = {3,5,6,7,7,7}

In [14]:
min(b)

3

In [15]:
max(b)

7

In [16]:
c = ['ayam','sapi','kelinci','kuda','babi','serigala']

In [17]:
min (c)

'ayam'

In [18]:
max (c)

'serigala'

## count()

The count() function is used to find how many times an object appears in the list. (Can't be done on set data type).

In [19]:
a = [3,5,6,7,7,7]

In [20]:
a.count(5)

1

In [21]:
a.count(7)

3

In [22]:
c = "Data Science"

In [23]:
c.count("a")

2

## Merging and replication on the list data type

The list also allows for merging (+) and replication or multiplication (*)

In [24]:
a = [3,5,6,7,7,7]

In [25]:
d = ["d","a","t","a"]

In [26]:
a + d

[3, 5, 6, 7, 7, 7, 'd', 'a', 't', 'a']

In [27]:
d = ["d","a","t","a"]

In [28]:
d*2

['d', 'a', 't', 'a', 'd', 'a', 't', 'a']

The multiplier function also can be used to initialization a List

In [29]:
tiga = [3]*3

In [30]:
print(tiga)

[3, 3, 3]

In [31]:
len(tiga)

3

## range()

* The range() function gives a series of numbers with another pattern.
* to perform loops (example for) in accessing the element list, we can use range() function python.
* more details on loop operations will be discussed in the Loop and Loop control module.

The range() function can have 3 parameters

   * Range with 1 parameter n: create a series of numbers starting from 0, as many as n numbers.

In [32]:
for i in range(4):
 print(i)

0
1
2
3

* Range with 2 parameters n,p: create a series of numbers starting from n, until before p (number p does not follow)
* Often referred to as inclusive of n (series starting with number n) and exclusive of p (series not including numbers p)

In [33]:
for i in range(1,4):
 print(i)

1
2
3

* Range with 3 parameters n, p, q: create a series of numbers starting from the value n, until before p (the number p does not follow), with each element having a difference of q

In [34]:
for i in range(1,10,2):
 print(i)

1
3
5
7
9

## in and not in

* Operators in and not in: To find out a value or object is in the list
* This function will return boolean values True and False

In [35]:
kita = 'aku dan kamu'

In [36]:
'aku' in kita

True

In [37]:
'dia' in kita

False

In [38]:
'kamu' not in kita

False

## Assigning and exchanging values for a list/set data type variable

We sometimes have several variables and need to assign values to those variables. Conventionally, you can mark the variables with the values we want, one by one.

In [39]:
makanan = ['bakso', 'bakso telur', 'pedas']

In [40]:
print(makanan)

['bakso', 'bakso telur', 'pedas']

In [41]:
nama = makanan[0]

In [42]:
print(nama)

bakso

In [43]:
jenis = makanan[1]

In [44]:
print(jenis)

bakso telur

In [45]:
rasa = makanan[2]

In [46]:
print(rasa)

pedas

* Python has a more practical way
* We can assign values to several variables at once from the element list or tuple without the need to mark one by one (Cannot be used on data of type data set)

In [47]:
makanan = ['bakso','bakso telur','pedas']

In [48]:
nama, jenis, rasa = makanan

In [49]:
nama

'bakso'

In [50]:
jenis

'bakso telur'

In [51]:
rasa

'pedas'

In [52]:
minuman = ('jus','jus mangga','manis')

In [53]:
nama, jenis, rasa = minuman

In [54]:
nama

'jus'

In [55]:
jenis

'jus mangga'

In [56]:
rasa

'manis'

Of course, the number of variables and the count of items in the List/Tuple must be the same. Otherwise, Python will give a ValueError.

In [57]:
minuman = ('jus','jus mangga','manis')

In [58]:
nama, jenis, rasa, harga = minuman

ValueError: not enough values to unpack (expected 4, got 3)

The uses of multi-variable assignments can exchange the values of two or more variables.

In [59]:
wajah,sifat = 'menarik', 'baik'

In [60]:
wajah, sifat = sifat, wajah

In [61]:
wajah

'baik'

In [62]:
sifat

'menarik'

## sort()

* The sort() method: sorts a number or a sequence of letters
* This sort() method can sort lists (cannot be used in data types set and tuples)

In [63]:
nilai = [40,20,30,10,50]

In [64]:
nilai.sort()

In [65]:
print(nilai)

[10, 20, 30, 40, 50]

In [66]:
siswa = ['Calvin','Edo','Prayogi','Anjeng','Alex','Zahra']

In [67]:
siswa.sort()

In [68]:
print(siswa)

['Alex', 'Anjeng', 'Calvin', 'Edo', 'Prayogi', 'Zahra']

In [69]:
nilai = {40,20,30,10,50}

In [70]:
nilai.sort()

AttributeError: 'set' object has no attribute 'sort'

We can also enter the keyword reverse = True in the parameter to make the order reverse (descending)

If reverse = False, then the order is ascending

In [71]:
huruf = ['d','i','a']

In [72]:
huruf.sort()

In [73]:
print(huruf)

['a', 'd', 'i']

In [74]:
huruf.sort(reverse=True)

In [75]:
print(huruf)

['i', 'd', 'a']

The sort method cannot sort a list that has numbers and strings.

In [76]:
no = ['B',2,1,'A','C']

In [77]:
no.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

The sort method uses the order of capital letters (uppercase) to be preceded by lowercase letters (lowercase).

In [78]:
nama = ["Budi",'calvin','andi']

In [79]:
nama.sort()

In [80]:
print(nama)

['Budi', 'andi', 'calvin']

* We can enter the keyword st.lower in the parameter
* This will make the sort method assume all objects are lowercase, without changing the original state of the object

In [81]:
nama = ["Budi",'calvin','andi']

In [82]:
nama.sort(key=str.lower)

In [83]:
print(nama)

['andi', 'Budi', 'calvin']